<%# Accept variables as locals (from broadcast) or instance variables (from controller) %>
<% failed_inspections_summary ||= @failed_inspections_summary %>
<% failed_inspections_detail ||= @failed_inspections_detail %>
<% selected_phase_inspections ||= @selected_phase_inspections %>

<!-- Grupo B: Inspeções Reprovadas -->
<div class="row mb-4">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header py-3 bg-danger">
        <h6 class="m-0 font-weight-bold text-white">
          <i class="fas fa-exclamation-triangle"></i>
          Inspeções Reprovadas
        </h6>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Coluna Esquerda: Resumo Visual (4 colunas) -->
          <div class="col-lg-4 mb-4 mb-lg-0">
            <%= render "failed_inspections_summary",
                        summary: failed_inspections_summary,
                        selected_phase: selected_phase_inspections %>
          </div>

          <!-- Coluna Direita: Tabela Detalhada (8 colunas) -->
          <div class="col-lg-8">
            <%= turbo_frame_tag "failed_inspections_table" do %>
              <%= render "failed_inspections_table",
                          inspections: failed_inspections_detail,
                          selected_phase: selected_phase_inspections %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
